---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Nicolas Renvoisé" description="About Nicolas Renvoisé Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Nicolas Renvoisé in his outdoor office"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Who am I</h2>
				<div class="content">
					<!-- Freelance mission search -->
					<p style="margin-bottom: 1em">🌟 Backend developer since 2020, I can bring my expertise in API development to:</p>
					<ul style="margin-bottom: 1em">
						<li style="list-style-type: none">✅ add new features to your existing application</li>
						<li style="list-style-type: none">✅ improve the performance of your existing APIs</li>
						<li style="list-style-type: none">✅ connect your application with external service</li>
					</ul>
					<p style="margin-bottom: 1em">📜 My experience:</p>
					<p class="mb-3 ml-5">I started with Ubitransport where
						I was able to participate in various backend projects involving the creation and updating of
						internal and public APIs around the theme of transport (interoperability of transport networks,
						management of transport companies and passengers, ticket control, ticketing, deployment of firmware
						for on-board equipment) and improvement of the authentication service with the implementation of an
						SSO, all in cooperation with foreign developers in a friendly and efficient atmosphere.</p>
					<p style="margin-bottom: 1em">I then joined Alximy on a full remote basis, where I took part in the development of the
						ECNi v2 backend, an internal API built according to DDD principles.</p>
					<p style="margin-bottom: 1em">At the same time, I'm in charge of a school's website, which I've completely redesigned.
					</p>
					<p style="margin-bottom: 1em">💬 Sounds good? I'd be happy to talk to you about your project, and how I can help you
						reach your goals.</p>
					<p style="margin-bottom: 1em">🤝 Let's build some amazing applications together!</p>
					<p style="margin-bottom: 1em">🎁 Since I have some experience in frontend development also, I can make a
						complete web application from scratch if you need one.</p>
	
					<!-- Job search -->
					<!--
					<p>
						Backend developer with <strong>3 years</strong> of professional experience in the web
						development field, I love writing <strong>SOLID code</strong> in a TDD way using Linux distros and docker.
					</p>
					<br>
					<p>
						Looking for an opportunity to work 100% remote as a web application developer in a PHP or JS environment, as an experienced backend or as a junior fullstack or frontend engineer.
					</p>
					<br>
					<p>
						Loving life, mountains, and web development, for me, it's all about working together as a team in a constructive way, everyone helping each other to reach our common goal: <strong>build some amazing useful applications together!</strong>
					</p> 
					-->
				</div>
			</section>
			<!-- <section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section> -->
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p style="margin-bottom: 1em">🗝️ My Expertise:</p>
					<ul style="margin-bottom: 1em">
						<li style="list-style-type: none">✅ PHP</li>
						<li style="list-style-type: none">✅ Symfony</li>
						<li style="list-style-type: none">✅ REST API</li>
						<li style="list-style-type: none">✅ SQL - PostgreSQL</li>
						<li style="list-style-type: none">✅ Javascript</li>
						<li style="list-style-type: none">✅ Vue.js - Quasar</li>
						<li style="list-style-type: none">✅ Docker</li>
						<li style="list-style-type: none">✅ GitLab CI/CD</li>
					</ul>
					<p style="margin-bottom: 1em">😌 I love writing clean code that is maintainable and scalable, so you won't worry for
						the future.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
