---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Back End</h2>
		<p>Develop Back End application/service/API using PHP, Symfony or Laravel and PostgreSQL, Maria DB or SQLite for the database.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="frontend" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Front End</h2>
		<p>Develop Front End with HTML5/CSS3 with added functionality using JavaScript and Vue.js or Quasar.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="bug-fix" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Knowledge sharing / Bug fixing</h2>
		<p>Do you have a question about web development? Do you need help with your code? Feel free to ask!</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
